@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;800&display=swap');

*{margin: 0; padding: 0; font-family: 'Montserrat', sans-serif; color: white;}

html, body {
    width: 1301px;
    height: 1838px;
}

.text {
    letter-spacing: 10px;
}

#poster {
    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
    background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

#poster div {
    position: absolute;
}

#top-right {
    width:125px;
    height: 110px;
    position: absolute;
    background-color: rgba(218, 213, 206,0.2);
    left: 900px;
    top: 135px;
    letter-spacing: 5px;
    line-height: 35px;
    font-size: 20px;
}

#top-left {
    width: 176px;
    height: 131px;
    position: absolute;
    background-color: rgba(218, 213, 206,0.2);
    left: 157px;
    top: 130px;
}

#top-left h3 {
    margin-left: 90px;
    font-size: 20px;
}

#top-left h2 {
    font-weight: 300;
    font-size: 33px;
}

#top-left h1 {
    font-size: 48px;
    line-height: 45px;
    font-weight: 700;
}

#bottom-right {
    width: 450px;
    height: 319px;
    position: absolute;
    background-color: rgba(218, 213, 206,0.2);
    left: 753px;
    top: 1375px;
}

#bottom-left {
    width: 190px;
    height: 131px;
    position: absolute;
    background-color: rgba(218, 213, 206,0.2);
    left: 130px;
    top: 1454px;
}

#middle {
    width: 1073px;
    height: 911px;
    position: relative;
    /* background-color: rgba(218, 213, 206,0.2); */
    left: 120px;
    top: 350px;
}

#middle * {
    position: absolute;
}

#heading1 {
    font-size: 100px;
    letter-spacing: 40px;
    z-index: 3;
    font-weight: 800;
    top: 50px;
    left: 50px;
}

#heading2 {
    font-size: 70px;
    z-index: 0;
    left: 510px;
    top: 325px;
    letter-spacing: 30px;
}

#heading3 {
    font-size: 100px;
    letter-spacing: 40px;
    top: 550px;
    left: 50px;
}

#shoe {
    top:10px;
    left: 400px;
    z-index: 2;
    transform: scale(0.91);
}

#moon {
    top: 260px;
    left: 180px;
    transform: scale(0.85);
}

#pineapple {
    left: 445px;
    top: 370px;
    transform: scale(0.8);
}

.lines {
    background: white;
    height: 5px;
}

/* #top-left-line {
    width: 100px;
    height: 100px;
} */
